*{
    margin: auto;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

@media screen and (min-width: 601px) {
    body {
      font-size: 18px;
    }
  }
  
@media screen and (max-width: 600px) {
    body {
        font-size: 13px;
    }
}

#home{
    height: 80vh;
    background-image: url("../img/apple_on_chair.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
    background-color: #d2d5da;
}

#about{

    width: 60%;
    clear: both;
}

#skills{
    background-color: #f2f3f5;
}

#services
{
    background-color: lightgrey;
}

#services div
{
    width: 25%;
    height: 25%;
    float: left;
    text-align: center;
    background-color: lightgrey;
}

#services div img
{
    text-align: center;
    width: 30%;

}

#testimonials{
    text-align: center;
}

#quotes
{
    background: #1ecbc6;
}

#quotes p
{
    color: white;
    padding: 5%;
    width: 60%;
}

#logos div
{
    width: 20%;
    height: 20%;
    float: left;
    background-color: white;

}

#designdevelop{
    width: 40%;
    text-align: left;
    float: right;
    margin-top: 15%;
}

#designdevelop h1{
    padding: 10px;
}

#designdevelop p{
    padding: 10px;
}

#contactus{
    color: white;
    background-color: #1ecbc6;
    width: 150px;
    height: 50px;
    border: none;
    margin: 10px;
}

#proffesionalskills
{
    width: 50%;
    float: left;
    padding: 3%;
}

#pencil{
    width: 44%;
    float: left;
}

#pencil img
{
    height: 100%;
}

#results
{
    float: none;
    height: 100%;
    background-color: #1ecbc6;
    float: right;
    display: block;
    text-align: center;
    width: 100vw;
    padding: 3%;
}

#results div
{   
    width: 25vw;
    float: left;
    color: white;
}

#results div img
{
    width: 20%;
}

#works
{
    height: 100%;
}

.work_img>img
{
    width: 100%;
}

.work_img>img:hover
{
    background-color: black;
    opacity: 0.2;
}

.work_img
{
    width: 25%;
    height: 25%;
    float: left;
    background-image: url("../img/eye.jpg");
    background-repeat: round;
}

#loadmoreworks
{
    background-color: lightgrey;
    color: grey;
    float: left;
    width: 100%;
}

#process
{
    text-align: center;
    clear: both;
}

#process p
{
    width: 50vw;
    padding: 3%;
}

#process h2
{
    padding-top: 10px;
    padding: 10px;
}

#loadmoreworks p
{
    text-align: center;
    padding: 6vh;
}

#contact{
    text-align: center;
    background-color: lightgrey;
    padding: 5%;
}

#contact p
{
    width: 40vw;
    padding: 10px;
}

#contact h2
{
    padding: 20px;
}

#contact form
{
    width: 40vw;
    text-align: center;
}

input
{
    margin: 5px;
}

#name{
    width: 45%;
    height: 40px;
}

#email
{
    width: 45%;
    height: 40px;
}

#title{
    width: 93%;
    height: 40px;
}

#comment
{
    width: 93%;
    height: 200px;
}

#sendmessage{
    color: white;
    background-color: #1ecbc6;
    width: 150px;
    height: 50px;
    border: none;
    margin: 10px;

}

#logos{
}

#menu{
    text-align: right;
    padding: 20px;
}

#menu li{
    display: inline;
}

#menu li a{
    color: grey;
    text-decoration: none;
    padding: 20px;
}

#menu li a:hover{
    color: #1ecbc6;
}

#about h2{
    padding: 10px;
    text-align: center;
}

#about p{
    padding: 10px;
    text-align: center;
}

#unknown{
    font-family: 'Tangerine', serif;
    font-size: 200%;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    height: 20vh;
}

footer div
{
    width: 20%;
    height: 20%;
    float: left;
    margin-top: 40px;
}

footer div ul
{
    list-style-type:none;
}

#myProgress1 
{
    width: 100%;
    background-color: grey;
}

#myProgress2 
{
    width: 100%;
    background-color: grey;
}

#myProgress3
{
    width: 100%;
    background-color: grey;
}

#myBar1 
{
    width: 1%;
    height: 15px;
    background-color: #1ecbc6;
    margin-top: 2%;
    margin-bottom: 2%;
}

#myBar2 
{
    width: 1%;
    height: 15px;
    background-color: #1ecbc6;
    margin-top: 2%;
    margin-bottom: 2%;
}

#myBar3 
{
    width: 1%;
    height: 15px;
    background-color: #1ecbc6;
    margin-top: 2%;
    margin-bottom: 2%;
}

.video {
    width: 100%;
}
.wrapper{
    display:table;
    width:auto;
    position:relative;
    width:50%;
}
.playpause {
    background-image:url("../img/play.png");
    background-repeat:no-repeat;
    width:25%;
    height:35%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
}